* {
    margin: 0;
    padding: 0;
}

.top {
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.alt {
    width: 80vw;
    margin-left: 20vw;
}

.alt section {
    margin-left: 10vw;
}

.top section h3, section p {
    color: white;
}

.top section h3 {
    font-size: 1.8rem;
}

.top section p {
    font-size: 1.4rem;
    width: 30vw;
}

.fig {
    background: white;
    height: 40vh; 
    width: 60vh;
}