.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background: rgba(135, 173, 182, 1.0);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 20vh;
    font-size: 1.3rem;
}

.contact {
    width: 80vw;
    height: 12vh;
    padding-left: 20vw;
    padding-top: 6vh;
}

.contact h4, h4 > a {
    color: white;
    font-size: 1.4rem;
}

.contact a:hover {
    color: #ffa6a0;
    font-size: 1.6rem;
}

.icon {
    margin-right: 1vw;
}

small {
    color: floralwhite;
}