nav {
  height: 7vh;
  width: 100vw;
  padding: 2rem 0 0.25rem 1rem;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

nav h1 > Link:hover {
  color: var(--pink);
  cursor: pointer;
}

nav ul {
  justify-content: space-between;
  padding-top: 0.25rem;
  width: 50vw;
}

nav li {
  font-size: 1.3rem;
}

nav li a:hover {
  cursor: pointer;
  font-size: 1.6rem;
}