@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', serif;
  color: black;
}

body {
  background: #F6FAFC;
}

ul {
  list-style: none;
  width: 80vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  height: 8vh;
  width: 100vw;
  padding: 1.75rem 0 0.25rem 1rem;
}

nav ul {
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-left: 2rem;
}

nav li:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-size: 1.0rem;
}

section.visual {
  width: 75vw;
  height: 85vh;
  margin-right: 1vw;
  border: 1px solid grey;
  position: relative;
}

section.visual svg {
  width: 25px;
  position: absolute;
  bottom: 5px;
  right: 7px;
}

section.visual svg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

section.interface {
  width: 20vw;
  height: 85vh;
  margin-right: 1vw;
  background: #b9D7EA;
  padding-left: 2rem;
}

.page div {
  height: 20vh;
}

.tabs {
  background: none;
  width: 18vw;
  padding-bottom: 2vh;
  margin-top: -3vh;
  margin-bottom: 4vh;
  border-bottom: 1px solid black;
}

section.interface div.head {
  height: 3vh;
  width: 10vw;
}

#general button:first-child {
  margin-bottom: 3vh;
}

#addNode {
  margin-top: 3vh;
}

section.interface svg {
  height: 2vh;
  width: 2vw;
}

section.interface button {
  height: 3.5vh;
  width: 4.5vw;
  padding: 0.15rem 0.25rem;
  border-radius: 11px;
  border: white;
  margin-top: 3vh;
  margin-left: 0.5vw;
}

section.interface button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

section.interface button:focus {
  cursor: pointer;
}

.tooltip:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hide {
  visibility: hidden;
  max-height: 0;
}

#algorithms div {
  height: 40vh;
}

#algorithms button {
  width: 15vw;
  height: 5vh;
}