:root {
  --green: #a9e8b6;
  --yellow: #ffd693;
  --pink: #ffa6a0;
  --purple: #43447a;
}

body {
  color: var(--purple);
  font-weight: lighter;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--pink);
}

.graph {
  width: 100%;
  height: 100%;
}
