#general button:first-child {
    margin-bottom: 3vh;
}

section.interface button {
    height: 3.5vh;
    width: 4.5vw;
    padding: 0.15rem 0.25rem;
    border-radius: 11px;
    border: white;
    margin-top: 3vh;
    margin-left: 0.5vw;
}

section.interface button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

section.interface button:focus {
    cursor: pointer;
}

.fig button {
    background: #33e958;
    border: none;
    height: 5vh;
}

.fig button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.action button {
    border: 1px solid #33e958;
    background: #33e958;
    filter: brightness(0.8);
    width: 12vw;
    height: 7vh;
    font-size: 1.2rem;
}

.action button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.action button a:hover {
    color: black;
}
