section.interface button, .fns button {
    height: 3.5vh;
    width: 4.5vw;
    padding: 0.15rem 0.25rem;
    border-radius: 11px;
    border: white;
    margin-top: 3vh;
    margin-left: 0.5vw;
}

section.interface button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

section.interface button:focus {
    cursor: pointer;
}

#algorithms button {
    width: 13vw;
    height: 6vh;
    padding-top: 0.5vh;
    font-size: 1.0rem;
}

#presets button {
    height: 5vh; 
    width: 8vw;
    margin-left: 3vw;
}

.fns button {
    height: 4vh;
    width: 8vw;
    margin-right: 5vw;
    font-size: 1.1rem;
}

.fns button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fns button:focus {
    cursor: pointer;
}

.tabs button {
    background: #b9D7EA;
}

.tabs button:hover {
    transform: scale(1.2);
}