@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin-top: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', serif;
  color: black;
}

:root {
  --pink: #ffa6a0;
}

body {
  background: #F6FAFC;
}

ul {
  list-style: none;
  width: 80vw;
}

.App {
  font-family: sans-serif;
  width: 100vw;
  margin-top: -7vh;
  margin-bottom: 1vh;
  height: 84vh;
  left: 0;
  top: 0;
  top: 0;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-subheading {
  margin-top: 2vh;
}

.main {
  margin-top: 2vh;
}

.fns {
  height: 10vh;
  width: 79.1vw;
  margin-left: 1vw;
  background: #b9D7EA;
}

section.visual {
  width: 79vw;
  margin-left: 1vw;
  height: 60vh;
  border: 1px solid grey;
  border-top: none;
  position: relative;
}

.main-visual {
  height: 90vh;
  padding-top: 1vh;
}

section.interface {
  width: 22vw;
  height: 75vh;
  margin-top: 6vh;
  margin-right: 1vw;
  background: #b9D7EA;
}

div.buttons {
  padding-left: 2vw;
}

.page div {
  height: 20vh;
}

.tabs {
  background: white;
  height: 6vh;
  margin-top: -2vh;
  width: 22vw;
}

.tabs span {
  margin: 1rem;
}

section.interface div.head {
  height: 5vh;
  margin-bottom: -3vh;
  width: 10vw;
}

.hide {
  visibility: hidden;
  max-height: 0;
}

#presets {
  height: 70vh;
  justify-content: space-between;
}

#algorithms, #algorithms div {
  height: 70vh;
}
