@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin-top: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', serif;
  color: black;
}

:root {
  --pink: #ffa6a0;
}

body {
  background: #F6FAFC;
}

ul {
  list-style: none;
  width: 80vw;
}

.App {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;;
  left: 0;
  top: 0;
  margin-bottom: -16vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-subheading {
  margin-top: 2vh;
}

.fns {
  height: 8vh;
  width: 79vw;
  margin-left: 1vw;
  background: #b9D7EA;
  padding-bottom: 1vh;
}

section.visual {
  width: 79vw;
  margin-left: 1vw;
  height: 75vh;
  border: 1px solid grey;
  position: relative;
}

section.interface {
  width: 20vw;
  height: 84vh;
  margin-right: 1vw;
  background: #b9D7EA;
  padding-left: 2rem;
}

.page div {
  height: 20vh;
}

.tabs {
  background: none;
  height: 8vh;
  width: 14vw;
  padding-bottom: 2vh;
  margin-top: -1vh;
  margin-bottom: 2vh;
  border-bottom: 1px solid black;
}

.tabs span {
  margin: 1rem;
}

section.interface div.head {
  height: 5vh;
  margin-bottom: -3vh;
  width: 10vw;
}

/*
section.interface svg {
  height: 2vh;
  width: 2vw;
}

.tooltip:hover {
  transform: scale(1.2);
  cursor: pointer;
}

section.visual svg {
  width: 25px;
  position: absolute;
  bottom: 5px;
  right: 7px;
}

section.visual svg:hover {
  transform: scale(1.05);
  cursor: pointer;
}
*/

.hide {
  visibility: hidden;
  max-height: 0;
}

#presets {
  height: 70vh;
  justify-content: space-between;
}

#algorithms, #algorithms div {
  height: 70vh;
}
